xt_2007b_replication/analysis/analysis_cache/
xt_2007b_replication/analysis/analysis_files/
xt_2007b_replication_old/

analysis/analysis_cache/
analysis/analysis_files/

data/non-anonymized/


*.DS_Store


xt_2007b_replication/experimental_materials/online_wug7/auth.json
xt_2007b_replication/overviews/*

*.DS_Store
*.dcf
*.Rdata
*.rdb
*.rdx

# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
